.next-section-btn {
  margin-top: auto;
  align-self: flex-start;
  color: #999;
}
.next-section-btn:hover {
  margin-top: auto;
  align-self: flex-start;
  color: #888;
}
.footer-btn > * {
  transform: rotate(180deg);
  margin-left: 50vw;
}
