.build-course-section {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100vw;
  margin: 5vh auto;
}
.build-course-grid {
  margin-left: 18vw;
  display: grid;
  grid-template-columns: 60vw 40vw;
}
.build-course-grid > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
/* add button */
.build-course-grid > :first-child > span {
  margin: 1rem;
  color: hsl(0, 0%, 96%);
}
.build-course-grid > :first-child > span:hover {
  transform: rotate(90deg);
  color: hsl(141, 71%, 48%);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
.build-course-grid > div > .button {
  margin: 2.5vh auto;
}
.lesson-grid,
.build-course-grid > :first-child {
  background: rgba(0, 0, 0, 0.3);
}
.build-course-grid > :first-child {
  border-top-left-radius: 5px;
}
.module-grid {
  margin: 0;
  display: flex;
  overflow-x: scroll;
  overflow-y: scroll;
  white-space: nowrap;
  max-width: 100%;
  min-width: 50vh;
  max-height: 100%;
  min-height: 60vh;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: hsl(0, 0%, 21%);
  background: url(https://images.pexels.com/photos/33044/sunflower-sun-summer-yellow.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)
    no-repeat center;
  background-size: cover;
}
.build-course-grid .module-content {
  margin: 1rem;
}
.module-grid > .module > ul > li {
  display: flex;
  flex-direction: column;
  border: 1px solid hsl(0, 0%, 14%);
  background: hsl(0, 0%, 14%);
  border-radius: 5px;
}
.module-grid > .module > ul > li > .delete {
  background: hsl(348, 86%, 33%);
  transform: rotate(-90deg);
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  margin: 5px;
}
.module-grid > .module > ul > li > .delete:hover {
  transform: rotate(90deg);
  background: hsl(348, 85%, 40%);
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  padding: 12px;
}
.module > h1 {
  min-width: 10vw;
  display: flex;
  justify-content: space-around;
  padding: 1vh;
}
.module > ul {
  background: hsl(0, 0%, 21%);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1rem;
}
.module-content {
  background: rgba(255, 255, 255, 0.9);
  padding: 1rem;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
}
.module.active {
  background: hsl(141, 71%, 48%);
  min-height: min-content;
  max-height: min-content;
}

.module > h1 {
  background: hsl(0, 0%, 86%);
}
.module {
  cursor: pointer;
  min-width: min-content;
}

.build-course-showcase {
  grid-column: 1 / span 2;
  padding: 5vh 17vw;
}
.build-course-showcase > ul > li > .module-content {
  border-radius: 5px;
}
.build-course-showcase > ul > li > .module-content:hover {
  background: hsl(0, 0%, 86%);
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}
.build-course-showcase > .title {
  margin: 1rem auto 0;
}
.build-course-lesson-display {
  position: fixed;
  z-index: 1;
  right: 16vh;
}
.lesson-grid {
  display: flex;
  flex-direction: column;
  right: 12vw;
  top: 10;
  overflow-y: scroll;
  min-height: 70vh;
  max-height: 100vh;
  width: 50%;
}
.lesson-grid > .dropdown > .dropdown-trigger {
  margin-top: 1rem;
}
.lesson-grid > ul > li > .module-content {
  border-radius: 5px;
  cursor: pointer;
  min-width: min-content;
}

@media screen and (max-width: 1100px) {
  .module-grid {
    max-width: 50vw;
    min-width: 50vh;
  }
  .build-course-showcase {
    grid-column: 1 / span 2;
    padding: 10vh 5vw 5vh;
    margin: 0;
  }
  .lesson-grid {
    right: 10vw;
    top: 35vh;
  }
}
@media screen and (max-width: 1100px) {
  .build-course-grid {
    margin: 0;
    padding: 5vh 5vw;
  }
}
@media screen and (min-width: 1100px) {
  .module-grid {
    min-width: 45vw;
    max-width: 100%;
  }
  .lesson-grid {
    right: 12vw;
    top: 13.5vh;
  }
  .lesson-grid > ul > li > .module-content {
    padding: 1rem 3rem;
    font-size: 1.5rem;
  }
}
