.profile-section {
  margin: 5vh 5vw;
  padding: 1rem;
  border: 2px solid hsl(0, 0%, 29%);
  border-radius: 5px;
  background: hsl(0, 0%, 21%);
  filter: drop-shadow(-5px -5px 9px hsl(0, 0%, 21%));
}
.profile-table {
  background: hsl(0, 0%, 21%);
  margin: 0 auto;
  width: 100%;
}

.profile-table > * {
  margin: 0 0.3vw;
}
.profile-th {
  width: 70%;
}
.danger-hover:hover {
  color: hsl(0, 0%, 100%);
  background: hsl(348, 100%, 91%);
  transition: all 1.5s ease-out;
}
.profile-section .table td {
  padding: 1rem 0;
}
.profile-delete-btn {
  align-self: center;
  justify-self: flex-end;
}

@media screen and (min-width: 800px) {
  .profile-section {
    margin: 5vh 15vw;
  }
}
