.profile-settings-section {
  padding: 5vh 5vw;
  min-height: min-content;
  height: 74vh;
  display: flex;
  align-items: flex-start;
}

.profile-section {
  margin: 5vh 5vw;
  padding: 1rem;
  border: 2px solid hsl(0, 0%, 29%);
  border-radius: 5px;
  background: hsl(0, 0%, 21%);
  filter: drop-shadow(-5px -5px 9px hsl(0, 0%, 21%));
  min-height: min-content;
  height: 100vh;
}
.profile-table {
  background: hsl(0, 0%, 21%);
  margin: 0 auto;
  width: 100%;
}
.profile-table > * {
  margin: 0 0.3vw;
}
.profile-th {
  width: 70%;
}
.profile-settings-form {
  min-width: min-content;
}
.profile-section .link:hover {
  color: hsl(141, 71%, 48%);
  border-radius: 5px;
  margin: 0.5%;
}

.danger-hover:hover {
  color: hsl(0, 0%, 100%);
  background: hsl(348, 100%, 91%);
  transition: all 1.5s ease-out;
}
.profile-section .table td {
  padding: 1rem 0;
}
.profile-delete-btn {
  margin-left: auto;
  margin-right: 2vw;
  align-self: center;
  justify-self: flex-end;
  transform: rotate(-90deg);
  transition: all 0.3s ease-out;
  font-size: 1.3rem;
  color: #ff7171;
}

.profile-delete-btn > * {
  pointer-events: none;
}

.profile-delete-btn:hover {
  color: #ff9879;
  transform: rotate(90deg);
  transition: all 0.3s ease-out;
  font-size: 1.4rem;
}

@media screen and (min-width: 800px) {
  .profile-section {
    margin: 5vh 15vw;
  }
}
