.profile-settings-section {
  padding: 5vh 5vw;
  min-height: min-content;
  height: 74vh;
  display: flex;
  align-items: flex-start;
}

.profile-section {
  padding: 5vh 5vw;
  border: 2px solid hsl(0, 0%, 29%);
  border-radius: 5px;
  background: hsl(0, 0%, 14%);
  filter: drop-shadow(-5px -5px 9px hsl(0, 0%, 21%));
  min-height: min-content;
  height: 100vh;
  margin: 30vh 5vw 5vh;
}
.profile-table {
  background: hsl(0, 0%, 21%);
  margin: 0 auto;
  width: 100%;
}
.profile-table > * {
  margin: 0 0.3vw;
}
.profile-th {
  width: 70%;
}
.profile-settings-form {
  min-width: min-content;
}
.profile-section .link:hover {
  color: hsl(141, 71%, 48%);
  border-radius: 5px;
  margin: 0.5%;
}

.danger-hover:hover {
  color: hsl(0, 0%, 100%);
  background: hsl(348, 100%, 91%);
  transition: all 1.5s ease-out;
}
.profile-section .table td {
  padding: 1rem 0;
}
.profile-delete-btn {
  margin-left: auto;
  margin-right: 2vw;
  align-self: center;
  justify-self: flex-end;
  transform: rotate(-90deg);
  transition: all 0.3s ease-out;
  font-size: 1.3rem;
  color: #ff7171;
}

.profile-delete-btn > * {
  pointer-events: none;
}

.profile-delete-btn:hover {
  color: #ce5029;
  transform: rotate(90deg);
  transition: all 0.3s ease-out;
  font-size: 1.4rem;
}
.card-footer > a {
  color: hsl(0, 0%, 96%);
  transition: all 1.3s cubic-bezier(0.19, 1, 0.22, 1);
}
.card-footer > a:hover {
  background: hsl(141, 71%, 48%);
  transition: all 0.9s cubic-bezier(0.19, 1, 0.22, 1);
  border-radius: 5px;
  margin: 3px 1px;
}
.chart {
  margin: 1rem;
}
@media screen and (max-width: 1100px) {
  .profile-section {
    margin: 15vh 5vw 5vh;
  }
}

@media screen and (min-width: 800px) {
  .profile-section {
    margin: 5vh 5vw 5vh 20vw;
  }
}
