.dashboard-icons {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  height: 65vh;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.dashboard-icons i {
  display: flex;
  flex-direction: column;
}
.dashboard-icons i span {
  font-size: 2rem;
  text-align: center;
}

.dashboard-nav {
  display: flex;
  justify-content: space-around;
  height: 5vh;
  min-height: 3rem;
  align-items: center;
}

.dashboard-nav a {
  color: hsl(0, 0%, 96%);
}

.dashboard-nav a:hover {
  color: hsl(0, 0%, 88%);
  transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
}

.td {
  text-align: center;
}

.table thead th {
  text-align: center;
}

.delete-user,
.delete-course,
.edit-user,
.edit-course :hover {
  cursor: pointer;
}

.btn-create-course {
  text-align: center;
  display: block;
}

/* Edit Course */
.edit-course-section {
  height: 100vh;
}
.edit-course-section .edit-course {
  display: flex;
  flex-direction: column;
  width: max-content;
  margin: 5vh auto;
}

.edit-course > div > *:first-child {
  color: hsl(0, 0%, 96%);
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 2vw;
  justify-self: flex-start;
}

.edit-course-section > .edit-course > .field > :nth-child(2),
.edit-course-section > .edit-course > .dropdown > .dropdown-trigger {
  margin-left: auto;
}
.edit-course-section > .edit-course > .dropdown {
  display: flex;
}
.edit-course-section > .edit-course > .dropdown > .dropdown-menu {
  margin-left: 50%;
}

.edit-course-section > .edit-course > .button {
  margin: 0 auto;
}

.edit-course-section .edit-course > div {
  display: flex;
  align-items: center;
  margin-bottom: 2vh;
}

.edit-course-upload-image {
  margin: 1vh auto;
}
.dashboard-showcase-link {
  color: hsl(0, 0%, 86%);
  transition: all 3s cubic-bezier(0.19, 1, 0.22, 1);
}
.dashboard-showcase-link:hover {
  color: hsl(0, 0%, 96%);
  transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
}
