.dashboard-nav {
  display: flex;
  justify-content: space-around;
  height: 5vh;
  min-height: 3rem;
  align-items: center;
}

.dashboard-nav a {
  color: hsl(0, 0%, 96%);
}

.dashboard-nav a:hover {
  color: hsl(0, 0%, 88%);
  transition: all 0.2s ease-out;
}

.td {
  text-align: center;
}

.table thead th {
  text-align: center;
}
/* 
.delete-user,
.delete-course,
.edit-user,
.edit-course :hover {
  cursor: pointer;
} */

.btn-create-course {
  text-align: center;
  display: block;
}

/* Edit Course */
.edit-course {
  margin: 5vh 5vw;
}

.edit-course > div > *:first-child {
  color: #333;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 1vw;
}
.edit-course > div {
  display: flex;
  border-bottom: 1px solid #333;
  align-items: center;
  justify-content: center;
}

.edit-course > div > p {
  margin-right: auto;
}
.react-bug {
  display: flex;
  width: 0%;
  font-size: 0.9rem;
}
