.lesson-display-section {
  margin-top: 1vh;
  height: max-content;
  padding: 4vh 4vw;
}
.lesson-nav {
  z-index: 1;
  position: fixed;
  width: 100%;
  top: 0;
  height: 3rem;
}
.lesson-nav-title {
  align-self: center;
  margin: auto;
  color: hsl(0, 0%, 96%);
}

.lesson-display-section > .lesson {
  color: hsl(0, 0%, 21%);
  background: hsl(0, 0%, 96%);
  border: 2px solid hsl(0, 0%, 29%);
  filter: drop-shadow(-5px -5px 9px hsl(0, 0%, 21%));
  transition: all 0.3s ease-out;
}
.lesson-display-section > .lesson:hover {
  border: 2px solid hsl(0, 0%, 21%);
  transition: all 0.3s linear;
}

.lesson-header {
  text-align: center;
  line-height: 0.5;
}

.lesson-header:after {
  left: 100%;
  margin-left: 15px;
}

.lesson-description {
  font-size: 1.7rem;
}

.lesson-content {
  padding-top: 3vh;
}
.lesson-nav {
  display: flex;
}
.lesson-nav-left,
.lesson-nav-right {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #fff;
}
.lesson-nav-left,
.lesson-nav-right > * {
  margin: 1rem;
}
.lesson-nav-left > * > svg {
  margin-right: 1rem;
}

.lesson-nav-left.active,
.lesson-nav-right.active {
  pointer-events: none;
  color: #333;
}
.lesson {
  margin: 0 auto;
}
@media screen and (max-width: 450px) {
  .lesson-nav-title {
    margin-top: 5vw;
    font-size: 1.1rem;
  }
}
