.navmain-dropdown {
  min-width: 14vw;
  padding: 0 1rem;
  justify-content: flex-end;
}
.navmain-dropdown > .dropdown-menu {
  min-width: min-content;
  width: 100%;
}
.nav-link {
  color: hsl(0, 0%, 96%);
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.nav-link:hover {
  color: hsl(0, 0%, 80%);
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.register-link {
  color: hsl(0, 0%, 4%);
}

@media screen and (max-width: 1100px) {
  .navmain-dropdown.columns {
    margin-left: -1rem;
  }
}
