.form-submit-lesson {
  width: 70vw;
  margin: 5vh 17vw;
}
.form-submit-lesson .dropdown-trigger {
  padding: 1rem 0;
}

.editor-title {
  color: hsl(0, 0%, 96%);
}
.toolbar-class {
  border-top-right-radius: 1rem;
  background: hsl(0, 0%, 96%);
  margin: 0;
  border-bottom: 1px solid hsl(0, 0%, 21%);
}
.toolbar-class > * > *,
.toolbar-class > * {
  border-radius: 5px;
}
.editor-class {
  padding: 1rem;
  height: 60vh;
  width: 100%;
  background: hsl(0, 0%, 96%);
  border-bottom-left-radius: 1rem;
  margin-bottom: 4vh;
}
.dropdownNsubmit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0.9rem;
}
.dropdownNsubmit > .button {
  background: hsl(204, 100%, 62%);
  color: hsl(0, 0%, 96%);
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.dropdownNsubmit > .button:hover {
  background: hsl(141, 71%, 48%);
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
@media screen and (max-width: 1100px) {
  .form-submit-lesson {
    margin: 15vh auto 5vh;
    z-index: -1;
  }
  .form-submit-lesson {
    width: 85vw;
  }
}
