.thread-section {
  margin: 5vh 25vw;
  padding: 5vh 5vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
.post-message .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: hsl(0, 0%, 96%);
  text-align: center;
}
.post-message .content h1 {
  color: hsl(0, 0%, 96%);
  font-size: 1.6rem;
}
.post-message .content .tag {
  padding: 1rem;
  font-size: 1.4rem;
  color: hsl(0, 0%, 21%);
}
.post-send {
  margin: 0 auto;
}

@media screen and (max-width: 1100px) {
  .thread-section {
    margin: 5vh 5vw;
  }
}
