.thread-section {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  color: hsl(0, 0%, 96%);
  padding: 5vh 5vw;
}
.thread-section .post-message {
  width: 80%;
}
.thread-section .post-message > .content .post-user-and-date {
  display: flex;
  justify-content: flex-start;
  background: rgba(0, 0, 0, 0.3);
  margin: 0 1vw;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 0.3rem;
}
.thread-section .post-message > .content .post-user-and-date > * {
  margin: 0 1vw;
}
.thread-section .post-message > .content .thread-message {
  margin: 0 1vw;
  padding: 1rem;
  background: hsl(0, 0%, 96%);
  color: hsl(0, 0%, 21%);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.input::placeholder {
  color: hsl(0, 0%, 51%);
}
