* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
  color: hsl(0, 0%, 96%);
  transition: all 0.2s ease-out;
}
.link:hover {
  background: hsl(0, 0%, 48%);
}

html,
body {
  scroll-behavior: smooth;
  background: hsl(0, 0%, 14%);
}
.section {
  height: 100vh;
}
h1,
h2,
h3,
h4,
h5,
h6,
button {
  letter-spacing: 0.6px;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}
.ml-3 {
  margin-left: 3rem;
}
.tl {
  text-align: left;
}
.index-title {
  color: #ccc;
}
.navbar > * {
  padding: 0 1rem;
}
/*  */
.footer {
  margin-top: 0%;
}

.shadow {
  filter: drop-shadow(-5px -5px 9px hsl(0, 0%, 21%));
}
