.course-section {
  padding: 5vh 2vw;
  min-height: 90vh;
}
.panel-block {
  display: flex;
  min-width: 15vw;
}
.aside-panel-icon {
  margin-left: auto;
  justify-self: flex-end;
  padding-left: 2vw;
  color: hsl(0, 0%, 96%);
}
.aside-panel-icon:hover {
  color: hsl(0, 0%, 100%);
}
.panel-block:hover {
  background: hsl(0, 0%, 11%) !important;
}
.course-article {
  padding: 5vh 5vw;
}
.course-table {
  padding: 0 5vw;
  margin: 0 auto;
  min-width: min-content;
}
.resume-course-btn {
  margin-top: 5vh;
  display: flex;
}
.course-panel {
  position: fixed;
  min-width: 15vw;
  left: 8vw;
  top: 10vh;
}
.course-content {
  margin: 0 auto;
}
.course-card {
  display: flex;
  flex-direction: column;
}
.course-card > .card-btn {
  border: 1px solid hsl(0, 0%, 4%);
  border-radius: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: hsl(0, 0%, 4%);
  color: hsl(48, 100%, 64%);
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  text-transform: uppercase;
  font-size: 1.3rem;
}
.course-card > .card-btn:hover {
  background: hsl(0, 0%, 21%);
  color: hsl(0, 0%, 96%);
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.panel-footer {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.course-panel {
  padding: 0;
  font-size: 1rem;
  top: 15vh;
  left: 1vw;
  z-index: 100;
}
@media screen and (max-width: 1100px) {
  .course-panel {
    position: absolute;
    display: flex;
    padding: 0;
    font-size: 1rem;
    top: 15vh;
    left: 50%;
    margin: 1rem auto;
    transform: translate(-50%, -50%);
  }
  .panel-heading {
    border-top-left-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 0;
  }
  .panel-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 5px;
  }
}
@media screen and (max-width: 600px) {
  .course-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
  }
  .course-table {
    max-width: max-content;
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
  }

  .message-body {
    font-size: 0.9rem;
  }
  .columns {
    margin-left: 0;
  }
  .course-content {
    margin: 5vh auto 0;
    padding: 0;
  }
  .panel-heading {
    border-top-left-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 0;
  }
  .panel-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 5px;
  }
}
@media screen and (max-width: 400px) {
  .course-table {
    font-size: 0.5rem;
  }
  .course-panel {
    font-size: 0.5rem;
  }
  .aside-panel-icon {
    font-size: 0.5rem;
  }
}
